.allBlock {
    top: 0;
    position: absolute;
    width: 112%;
    margin-top: 24vh;
}

.boutonCalendrier {
    padding: 4vw;
    background-color: rgb(244, 67, 54);
    width: 21%;
    margin-right: 2vw;
    margin-bottom: 2vw;
    font-size: 50px;
    border-radius: 50px;
}

.boutonDomotique {
    padding: 4vw;
    background-color: rgb(1, 169, 244);
    width: 21%;
    font-size: 50px;
    border-radius: 50px;
}

.boutonTarifHeure {
    padding: 4vw;
    background-color: rgb(255, 152, 0);
    width: 21%;
    margin-right: 2vw;
    margin-bottom: 2vw;
    font-size: 50px;
    border-radius: 50px;
}

.boutonConso {
    padding: 4vw;
    background-color: rgb(76, 175, 80);
    width: 21%;
    font-size: 50px;
    border-radius: 50px;
}

.linkStyle {
    text-decoration: none;
    color: white;
}

.boutonCalendrier,
.boutonDomotique,
.boutonTarifHeure,
.boutonConso {
  cursor: pointer;
}
