/* Sélectionner le titre */
h1 {
  font-size: 3em; /* Changer la taille de police */
  font-family: 'Helvetica Neue', sans-serif; /* Changer la police de caractère */
  color: #fff; /* Changer la couleur du texte */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; /* Ajouter l'effet néon */
}

/* Changer la couleur de fond du site en noir */
body {
  background-color: #000;
}
